<img src="https://gist.githubusercontent.com/jakubczakon/10e5eb3d5024cc30cdb056d5acd3d92f/raw/5c464c16ccbc7150b4025e0a2a05b84ab99a7bc3/logo_DS_AI.png" alt="Drawing" width="600"/>

# deepsense.ai's workshop

# 0.3. Introduction to pandas

pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
# IPython Notebook option to show plots in the notebook (not in a separate window)
%matplotlib inline

# plotting library
# loading it changes default styles to much nicer ones
import seaborn as sns
sns.set()

A basic data structure in pandas is a Data Frame. It's a 2 dimensional data structure with rows and columns. One can easily create a Data Frame from a NumPy array.

In [ ]:
arr = np.random.random([10,5])
df = pd.DataFrame(arr)
df

We can give names to columns and rows, they don't have to be unique. 
Row names are called index.

In [ ]:
df.columns = ["col_{}".format(i) for i in range(df.shape[1])]
df

In [ ]:
df.index = ["row_{}".format(i) for i in range(df.shape[0])]
df.index.name = 'row_number'
df

In [ ]:
print(df.head()) # We can see a beginning of the Data Frame, default 5 elements
print(df.tail(3)) # And an end of it, default 5 elements

Now we can inspect some basic properties of the Data Frame

In [ ]:
print(df.shape)

In [ ]:
print(df.columns)

In [ ]:
print(df.index)

In [ ]:
print(df.dtypes)

In [ ]:
df['col_0'] # Selecting particular columns is very easy

In [ ]:
df.col_0 # or we can do it this way

In [ ]:
type(df['col_0']) # pd.Series is a single dimensional pandas data structure

In [ ]:
df[['col_0', 'col_1']] # We can also select a subset of columns by passing a list inside brackets

In [ ]:
df.loc['row_0'] # To select a particular row we have to indicate its index in .loc attribute

In [ ]:
df.loc[['row_0', 'row_1']] # We can of course select a subset of rows

In [ ]:
df.loc[['row_0', 'row_1']][['col_1', 'col_2']] # The above is a Data Frame, so we can access its columns

In [ ]:
df.loc[['row_0', 'row_1'],['col_1', 'col_2']] # or we can access to this subframe directly

In [ ]:
print("Type of selected single row: {}".format(type(df.loc['row_0'])))
df.loc['row_0']['col_3'] # To access selected item of a Series we have to specify index of the item

In [ ]:
df.loc['row_0','col_3'] # or do it directly

Whereas `.loc` is used to access rows with their indices, `.iloc` is used to access rows with its position.

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[0]['col_3']

In [ ]:
df.iloc[0,3]

Similarly to NumPy, you can get slices with a colon `:`

In [ ]:
df.loc[:'row_3', 'col_2':'col_4']

But be careful! While selecting with .loc __both__ endpoints of the slices are __included__ in slices! Unlike selecting with .iloc

In [ ]:
df.iloc[:3, 2:4] # 'row_3' is a third row, while accessed with .loc it was included, with .iloc it's not
                 # similarly for 'col_4'

NumPy is a Data Frame's underlying data structure, actually:

In [ ]:
print(type(df.values))
print(df.values)

Now the tricky part:

In [ ]:
df['col_3'] # This is a particular column

In [ ]:
df[3] # This of course doesn't work, because there is no such columns as 3

In [ ]:
df[:3] # But this one works, and takes first three ROWS

A faster way to get a scalar value:

In [ ]:
df.at['row_3', 'col_1'] # With rows and columns names

In [ ]:
df.iat[3,1] # Or with its position

In [ ]:
df.at['row_3'] # but this doesn't work, because you must select a scalar

In [ ]:
df.at[:'row_3', 'col_3'] # nor this one. Again: you can access only scalar values

One can set a particular column as an index column, like here:

In [ ]:
df_copy = df.copy()

In [ ]:
df_copy['new_index'] = range(df_copy.shape[0]) # This way we add a column to a data frame. Simple, huh?
df_copy.set_index('new_index', inplace=True)   # Set index to our column and drop the old index
df_copy

There are also some nice methods to sort data

In [ ]:
df_copy.sort_index(ascending=False) # By default it sorts rows

In [ ]:
df_copy.sort_index(axis=1, ascending=False) # But it can sort columns

In [ ]:
df_copy.sort_values(by='col_2') # And it can sort rows by a column value

In [ ]:
df_copy.sort_values(axis=1, by=4, ascending=False) # Or sort columns by row values

To inspect the data we have to plot it. It's easy with pandas!

In [ ]:
df['col_1'].plot() # We can plot a single column

In [ ]:
df[['col_1', 'col_3']].plot() # or a subset of columns

pandas gives us also a nice opportunity to check simple statistical properties at once:

In [ ]:
df.describe()

In [ ]:
df['new_col'] = np.random.randint(0,3,df.shape[0]) # Let's create new column
df

In [ ]:
df['new_col'].value_counts() # Series has this cool method to inspect number of occurrences of each value

In [ ]:
df['new_col'].unique() # And we can list all unique values in a Series

In [ ]:
df.drop('new_col', axis=1, inplace=True) # Drop the column

Now let's try some more sophisticated data selection.

In [ ]:
df

In [ ]:
df[df['col_0'] > 0.5] # Select rows from a pd.DataFrame, for which 'col_0' has value >0.5

In [ ]:
df.query('col_0 > 0.5') # Nicer way for the same operation

In [ ]:
threshold = 0.5
df.query('col_0 > @threshold or col_1 < @threshold') # You can also access local variables 
                                                     # and create more complicated expressions

Let's look at how to create new columns of our dataset

In [ ]:
df['constant_column'] = 1
df.head()

In [ ]:
df['copied_value'] = df['col_0']
df.head()

In [ ]:
df['copied_and_doubled'] = 2*df['col_0']
df.head()

It works similarly for over operations like adding, subtracting, dividing.

In [ ]:
df['combination_of_columns'] = df['col_0'] + 3*df['col_3']
df.head()

But what if we need to create a more complicated computation?

In [ ]:
def custom_function(entire_row):
    if entire_row['col_2'] > entire_row['col_4']: return 'col_2 is larger than col_4'
    else: return 'col_2 is not larger than col_4'

df['custom_column'] = df.apply(custom_function, axis=1)
df.head()

#### Basic aggregations

In [ ]:
df['col_1'].max()

In [ ]:
df['col_1'].std()

In [ ]:
df['col_2'].mean()

#### Group aggregations

In [ ]:
df.groupby('custom_column')['col_2'].max()

In [ ]:
df.groupby('custom_column')['col_2'].mean()

In [ ]:
#We can also create new columns with results of group aggregations
df['col_2_mean_in_group'] = df.groupby('custom_column')['col_2'].transform('mean')
df.head()

#### And let's have a look at some other basic data manipulations

In [ ]:
df['new_col'] = df['col_1']/df['col_0'].max()
df

In [ ]:
df.drop('new_col', inplace=True, axis=1) # To drop columns we have to specify axis=1, default axis=0
df

In [ ]:
df['new_col'] = np.random.randint(0,3,df.shape[0]) # Let's create a new column
df

In [ ]:
my_map = {0: 'a', 1: 'b', 2: 'c'}
df['new_col'] = df['new_col'].map(my_map) # And map its values to some new ones
df

We can also iterate over rows or subframes:

In [ ]:
for i, row in df.iterrows():
    print(i)
    print(row)

In [ ]:
for label, sub_df in df.groupby('new_col'):
    print("Label: {}".format(label))
    print("Subframe:\n{}\n".format(sub_df))

That's all theory about pandas for now! Let's see in a minute how it is used in practice!

We'll practice the introduced concepts using the dataset about Olympic history.

In [ ]:
from download_data import download_data

In [ ]:
download_data()

In [ ]:
df = pd.read_csv('./data/athlete_events/athlete_events.csv')

In [ ]:
df.shape

1) Look at 10 rows of the dataset (top or bottom).

This dataset stores information about past performances of athletes on Olympic games. 

2) Look at the distribution of values (value counts of different values) in the column `'Medal'`.

Notice how the used function sorts values in descending order - it will be useful later on.

3) Select only the rows describing gold medalists, and store them into `gold_df` variable.

4) Show top 10 countries with respect to the number of gold medals won.

5) Calculate the number of golden medals of Belgium.

6) Calculate number of Polish gold medals by year.

7) Visualise it using function `plot()`.

8) Select all of the rows describing Polish gold medals in 1972 to analyze the anomaly.

9) Create a new column with the average height for a given sex and age athlete (not only gold medalists), called `'typical_height'`.

10) Create a new column `'height_diff'` with the devation of height from the typical value in the segment.

11) Drop the rows in the dataset where the newly calculated value is `NaN`. How many rows have been dropped?

Hint: use `dropna()` function on the dataset with `subset=['height_diff]` as the only argument.

12) Plot the histogram of these values.

Hint: use `seaborn.distplot` function, passing the appropriate column as the only argument.

13) Check the hypothesis that majority of gold medalists were higher than the typical height of their segment.

14) Calculate the actual percentage of gold medalists higher than the `'typical height'`.

15) Add new columns `first_gold` and `last_gold` meaning the first and last years of obtaining a gold medals by an athlete.

16) Add a new column `'gold_span'` with the span in years of achieved gold medals. What is the maximal value of this span?

17) Select the rows describing the history of this athlete/these athletes.

18) Who obtained the highest number of silver medals without ever getting a gold one and how many of them?

Hints: 
* Start by adding new columns with the total number of silver and gold medals, respectively.
* If you have trouble with `NaN` values, you can use `.fillna(0)` to replace `NaN` values in the dataset with zeros.